@using SalesInventoryV1.Models

@model Product

@{
    ViewData["Title"] = "Product Details";
}

<div>
      <h2>Product Details</h2>
      <hr />

      <div class="card">
            <div class="card-header">
                  <h4>@Model.ProductName</h4>
            </div>
      </div>
</div>